<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My detail info</title>
    <meta charset="UTF-8">
    <style>
        table th, table td {
            text-align: center; /* Căn giữa nội dung trong các ô */
        }

        table th[colspan="2"] {
            text-align: center; /* Căn giữa tiêu đề cột "Action" */
        }
    </style>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/header-banner-footer.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="outer">
    <header>
        <h1>Jobs Connection 247</h1>
        <div style="position: absolute; top:0px; right: 0px; padding: 5px">
            Hello <span th:text="${candidate.fullName}"></span>
            <button>
                <a style="text-decoration: none; color: inherit;" href="/logout">Logout</a>
            </button>
        </div>
    </header>

    <Menu>
        <ul>
            <li><a th:href="@{/candidate/jobList(candidateId=${candidate.id})}">List jobs</a></li>
            <li><a th:href="@{/candidate/detail(canID=${candidate.id})}">My Detail Info</a></li>
            <li><a th:href="@{/candidate/suitableJobs(candidateId=${candidate.id})}">suitable jobs for me</a></li>
            <li><a href="#">Suggest skill to learn?</a></li>
            <li><a th:href="@{/candidate/editInfo(canID=${candidate.id})}">Edit my Info</a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#addSkillModal">Add new skill</a></li>
        </ul>
    </Menu>

    <div class="banner">

    </div>

    <div class="content">

        <div class="modal fade" id="addSkillModal" tabindex="-1" aria-labelledby="addSkillModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addSkillModalLabel">Add skill</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body
                ">
                        <form th:action="@{/candidate/detail/addSkill}" method="post">
                            <input type="hidden" name="canId" th:value="${candidate.id}"/>
                            <div class="mb-3">
                                <label for="skillInput" class="form-label">Skill name</label>
                                <input type="text" class="form-control" id="skillInput" name="skillInput" required>
                                <div id="skillSuggestions"
                                     style="display: none; background-color: white; border: 1px solid black; border-top: none;"></div>
                            </div>
                            <div class="mb-3">
                                <label for="levelInput" class="form-label">Level</label>
                                <select class="form-select" name="levelInput" required>
                                    <option value="Beginner">BEGINNER</option>
                                    <option value="Intermediate">INTERMEDIATE</option>
                                    <option value="Advanced">ADVANCED</option>
                                    <option value="Master">MASTER</option>
                                    <option value="Professional">PROFESSIONAL</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="moreInfosInput" class="form-label
                            ">More info</label>
                                <textarea class="form-control" name="moreInfosInput"
                                          rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Add skill</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Edit skill</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body
                ">
                        <form th:action="@{/candidate/detail/editSkill}" method="post">
                            <input type="hidden" id="canIdInput" name="canId" value=""/>
                            <input type="hidden" id="skillIdInput" name="skillId" value=""/>
                            <div class="mb-3">
                                <label for="levelInput" class="form-label">Level</label>
                                <select class="form-select" id="levelInput" name="levelInput" required>
                                    <option value="Beginner">BEGINNER</option>
                                    <option value="Intermediate">INTERMEDIATE</option>
                                    <option value="Advanced">ADVANCED</option>
                                    <option value="Master">MASTER</option>
                                    <option value="Professional">PROFESSIONAL</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="moreInfosInput" class="form-label
                            ">More info</label>
                                <textarea class="form-control" id="moreInfosInput" name="moreInfosInput"
                                          rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <article class="left">
            <h1 class="text-center"><span th:text="${candidate.fullName}"></span>'s detail</h1>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Skill name</th>
                    <th>Level</th>
                    <th>More info</th>
                    <th colspan="2" style="text-align: center">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="candidateSkill, iStat : ${candidateSkills}"
                    th:style="${iStat.odd}? 'font-weight: bold;'"
                    th:alt-title="${iStat.even}? 'even' : 'odd'">
                    <td th:text="${candidateSkill.skill.skillName}"></td>
                    <td th:text="${candidateSkill.skillLevel}"></td>
                    <td th:text="${candidateSkill.moreInfos}"></td>

                    <td>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#editModal"
                           th:data-can-id="${candidateSkill.can.id}"
                           th:data-skill-id="${candidateSkill.skill.id}">Edit
                        </a>
                    </td>

                    <td>
                        <a th:href="@{/candidate/detail/deleteSkill(canID=${candidate.id}, skillID=${candidateSkill.skill.id})}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </article>

        <article class="right">
            <div class="firstForm">
                <h3>Candidate Infomation</h3>
                <h5>Date of birth: <span th:text="${candidate.dob}"></span></h5>
                <h5>Email: <span th:text="${candidate.email}"></span></h5>
                <h5>Phone: <span th:text="${candidate.phone}"></span></h5>
                <h5>Address: <span th:text="${candidate.address}"></span></h5><br>
            </div>
            <div class="secondForm">
                <h3>Experience</h3>
                <div th:if="${experiences != null and !experiences.isEmpty()}">
                    <div th:each="experience : ${experiences}">
                        <h5>Company: <span th:text="${experience.companyName}"></span></h5>
                        <h5>From: <span th:text="${experience.fromDate}"></span></h5>
                        <h5>To: <span th:text="${experience.toDate}"></span></h5>
                        <h5>Role: <span th:text="${experience.role}"></span></h5>
                        <h5>Work description: <span th:text="${experience.workDescription}"></span></h5>
                    </div>
                </div>
                <div th:if="${experiences == null or experiences.isEmpty()}">
                    <p>No experience available for this candidate.</p>
                </div>
            </div>
        </article>
    </div>

    <footer>
        <div class="footer-content">
            <div class="info">
                <h5><strong>Jobs Connection 247</strong></h5>
                <p>Email: nhiethiz@gmail.com</p>
                <p>Phone: 123-456-789</p>
                <p>
                    Address: 12 Nguyễn Văn Bảo, Q. Gò Vấp, Hồ Chí Minh
                </p>
            </div>
            <div class="footer-img">
                <!-- <img src="/image/map.png" alt="" /> -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3918.858589555858!2d106.686772!3d10.822132!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175296a4ce691f9%3A0x2d96eb3ef10ac151!2zMTIgTmd1eeG7hW4gVsSDbiBC4bqjbw!5e0!3m2!1sen!2sus!4v1723197234169!5m2!1sen!2sus"
                        width="570" height="200"
                        style="border:0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
    </footer>

</div>

</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const editLinks = document.querySelectorAll('a[data-bs-toggle="modal"][data-bs-target="#editModal"]');
        editLinks.forEach(link => {
            link.addEventListener("click", function (event) {
                const canId = link.getAttribute("data-can-id");
                document.getElementById("canIdInput").value = canId;
                const skillId = link.getAttribute("data-skill-id");
                document.getElementById("skillIdInput").value = skillId;
            });
        });
    });

    // Fetch skills
    async function fetchSkills() {
        const response = await fetch('/skills/list');
        return await response.json();
    }

    async function autocompleteSkills(event) {
        const query = event.target.value.toLowerCase();
        const skills = await fetchSkills();
        const filteredSkills = skills.filter(skill => skill.toLowerCase().includes(query));

        const suggestionsBox = document.getElementById('skillSuggestions');
        suggestionsBox.innerHTML = '';

        // Show suggestions dropdown
        filteredSkills.forEach(skill => {
            const suggestionItem = document.createElement('div');
            suggestionItem.textContent = skill;
            suggestionItem.classList.add('suggestion-item');
            suggestionItem.style.cursor = 'pointer';

            suggestionItem.onclick = () => {
                document.getElementById('skillInput').value = skill;
                suggestionsBox.style.display = 'none';
            };

            suggestionsBox.appendChild(suggestionItem);
        });

        suggestionsBox.style.display = filteredSkills.length > 0 ? 'block' : 'none';
    }

    //hide
    document.addEventListener('click', function (event) {
        const skillInput = document.getElementById('skillInput');
        const suggestionsBox = document.getElementById('skillSuggestions');

        if (!suggestionsBox.contains(event.target) && event.target !== skillInput) {
            suggestionsBox.style.display = 'none';
        }
    });

    document.getElementById('skillInput').addEventListener('input', autocompleteSkills);

    document.getElementById('skillInput').addEventListener('click', function () {
        const suggestionsBox = document.getElementById('skillSuggestions');
        if (suggestionsBox.children.length > 0) {
            suggestionsBox.style.display = 'block';
        }
    });
</script>
</html>